@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.card__container {
  position: relative;
  border: 1px solid #cacaca;
  border-radius: 8px;
  padding: 20px;
  height: 390px;

  &:hover .btn__add__to__Cart {
    opacity: 1;
    right: 30px;
  }
  &:hover .btn__add__to__favorites {
    opacity: 1;
    right: 30px;
  }

  &:hover figure img {
    transform: scale(1);
  }

  &:hover .product__text p {
    text-decoration: underline;
  }

  figure {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 170px;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    transition: 0.2s ease;

    img {
      transform: scale(0.9);
      transition: 0.3s ease;
    }
  }
}

.product__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 39%;

  small {
    text-transform: capitalize;
  }

  p {
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
  }

  h6 {
    margin: 0;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
  }
}

.btn__add__to__Cart {
  @include flex__center();
  background: #003ba9;
  border: none;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 40px;
  width: 40px;
  height: 40px;
  z-index: 9;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: 0.3s ease;
  opacity: 0;

  &:hover {
    background: #0049d1;
  }
}

.btn__add__to__favorites {
  @include flex__center();
  border: 1px solid #a9001e;
  color: #a9001e;
  position: absolute;
  right: 15px;
  top: 90px;
  width: 40px;
  height: 40px;
  z-index: 9;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: 0.3s ease;
  opacity: 0;

  &:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  .card__container {
    .btn__add__to__Cart {
      opacity: 1;
      right: 30px;
    }
    .btn__add__to__favorites {
      opacity: 1;
      right: 30px;
    }
  }
}

@media only screen and (max-width: 556px) {
  .card__container {
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 20px;
    height: 178px;

    a {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    figure {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 120px;
      height: 150px;
      overflow: hidden;
      padding: 10px;
      transition: 0.2s ease;
    }
  }

  .btn__add__to__Cart {
    opacity: 0;
    display: none;

    &:hover {
      opacity: 0;
    }
  }

  .btn__add__to__favorites {
    opacity: 0;
    display: none;

    &:hover {
      opacity: 0;
    }
  }
}
