.btn__menu__mobile {
  display: none;
  padding: 0 !important;
  border: none !important;
  font-size: 35px;

  &:hover {
    background: transparent !important;
    color: #000;
  }
}

.products__container {
  overflow-y: scroll;
  width: 100%;
  padding: 0 15px;

  // Estilizando a barra de rolagem
  &::-webkit-scrollbar {
    width: 6px !important;
    margin: 0 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #6e6e6e; // Cor da barra de rolagem ao passar o mouse
  }
}

.checkout__container {
  padding: 20px 15px;
  border-top: 1px solid #cacaca;
  width: 100%;

  h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  button {
    width: 100%;
    border: none;
    background: #242424;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
    height: 34px;
    text-transform: uppercase;
    border-radius: 5px;

    &:hover {
      background: #353535;
    }
  }
}

.cart__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border: 1px solid #000;
  background: #fff;
  border-radius: 20px;
  padding: 6px 8px;
  width: 34px;
  height: 34px;
  transition: 0.2s ease;

  &:hover {
    border-color: #000;
    background: #000;
    color: #fff !important;
  }
}

@media only screen and (max-width: 992px) {
  .btn__menu__mobile {
    display: block;
  }

  .cart__button {
    width: 41px;
    height: 42px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 556px) {
  .btn__menu__mobile {
    font-size: 30px;
  }

  .cart__button {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }
}
