@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Titillium+Web:wght@300;400;600;700&display=swap");

// Palette colors
$primary-100: #2151ff;

$text: #242424;

$error: #f83e47;
$warning: #e99803;
$success: #009225;

$bg-100: #cacaca;
$bg-200: #ffffff;
$bg-300: #242424;

//fonts
$font_primary: "Inter", sans-serif;